

<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h1 class="card-title mb-0 text-center">Liste des Foyer</h1>
    </div>
    <div class="card-body m-1">
      <table class="table table-striped">
        <thead class="bg-light">
          <tr>
            <th>Nom Foyer</th>
            <th>Capacité Foyer</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="foyers && foyers.length > 0; else noData">
            <tr *ngFor="let foyer of foyers">
              <td>{{ foyer.nomFoyer }}</td>
              <td>{{ foyer.capaciteFoyer }}</td>
              <td>
                <button class="btn btn-danger" (click)="delete(foyer.idFoyer)">Delete</button>
                <button class="btn btn-primary" (click)="navigateToUpdateFoyer(foyer.idFoyer)">Update</button>
              </td>
            </tr>
          </ng-container>
          <ng-template #noData>
            <tr>
              <td colspan="3" class="text-center">Aucune donnée disponible</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mt-4 text-center">
  <button  class="btn btn-success" (click)="navigateToaddFoyer()">ADD</button>
</div>
