<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h1 class="card-title mb-0 text-center">Add Foyer</h1>
    </div>
    <div class="card-body">
      <div class="form-container">
        <form #foyerForm="ngForm" (ngSubmit)="saveFoyer()">
          <!-- Foyer details input fields -->
          <div class="form-group">
            <label for="foyerName">Foyer Name:</label>
            <input type="text" id="foyerName" name="foyerName" [(ngModel)]="foyer.nomFoyer" required class="form-control">
          </div>
          <div class="form-group">
            <label for="foyerCapacity">Foyer Capacity:</label>
            <input type="number" id="foyerCapacity" name="foyerCapacity" [(ngModel)]="foyer.capaciteFoyer" required class="form-control">
          </div>
          <!-- Other Foyer details input fields can go here -->
          <button class="btn btn-primary btn-block" type="submit">Save Foyer</button>
        </form>
      </div>
    </div>
  </div>
</div>
